{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}

<table class="table table-striped">
    <thead>
    <tr>
        <th>Symbol</th>
        <th>Shares</th>
        <th>Price</th>
        <th>TOTAL</th>
    </tr>
    </thead>
        <tfoot>
            <tr>
                <td colspan="3"></td>
                <td>{{sum}}</td>
            </tr>
        </tfoot>
    {% for row in data %}
    <tr>
    {% for item in row %}
    {% if item is not string and item>20%}
        <td>${{ item }}</td>
    {% else %}
        <td>{{ item }}</td>
    {% endif %}
    {% endfor %}
    </tr>
    {% endfor %}
    <tr>
      <td colspan="3">CASH</td>
      <td>{{cash}}</td>
    </tr>
</table>
{% endblock %}